/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #1E90FF;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}
.padded{
  padding: 3% 15%;
}


a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 3%;
  padding-left: 50%;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 0;
  margin-bottom: 3rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.buttons .btn{
  box-shadow:1px 1px 1px 2px #ccc;
  border-radius: 20%;
}
.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.6rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
  padding: 0.7rem 1.5rem;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  width: 80%;
  border-radius: 20%;
}
.profile-grid{
  display: grid;
  grid-template: auto / 40% 60%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='submit'],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {

  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
#soc{
  padding: 2%;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Landing Page */
/* .landing {
  position: relative;
  background: url('https://www.asymptotejournal.com/blog/wp-content/uploads/2019/12/reading_resolutions.png') no-repeat center center/cover;
  height: 100vh;
} */

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Profiles Page */
.profile {
  /* box-shadow:1px 1px 1px 2px #17a2b8; */
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}
#dash-img{
  border: 2px black solid;
  padding: 2%;
  width: 40%;
}

/* Posts Page */
.post-form .post-form-header {
  background: var(--primary-color);
  padding: 0.5rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
}

.post > div:first-child {
  text-align: center;
}

.post img {
  width: 100px;
}

.post .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }

  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }

  /* Profiles Page */
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .profile img{
    width: 70%;
  }

  .profile ul {
    display: none;
  }

  /* Profile Page */

  .profile-top img,
  .profile img {
    width: 200px;
    margin: auto;
  }

  .profile-grid {
    grid-template-areas:
      'top'
      'about'
      'exp'
      'edu'
      'github';
  }

  .profile-about .skills {
    flex-direction: column;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  .post {
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
}
.page-main .buttons{
  /* padding-left: 20%; */
  text-shadow: none;
  padding-top: 20%;
}
.button:hover{
  padding:0 ;
}

a {
  text-decoration: none;
  color: white;
}
.page-header ul {
  display: flex;
  width: 100%;
}
.page-header ul li:not(:last-child) {
  padding-right: 15px;
}
.wrapper {
  display: flex;
  min-height: 100vh;
}



.page-main {
  display: grid;
  grid-template:auto / 50% 50% ;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  min-height: 350px;
  /* background: var(--main-purple-color) */
  background: url('https://media4.manhattan-institute.org/sites/as/files/New%20York%20City.banner_0.png')  no-repeat center / cover;
  /* background: url('https://www.appdrawn.com/rails/active_storage/disk/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaEpJbWQyWVhKcFlXNTBjeTlZYTNOV1YxVlNaMmxyZEVnMWVYSTJObEEzY1hGek1tTXZabVl3TVRSbU1qSTRNVEZpTm1NeFpEaGxNbVl5T0RNNFpXTXhObUV4WXpjNVpqSTFOalUxTlRjell6a3haREk0TTJJd1l6UTFaamMyTkRreE1qVTJZUVk2QmtWVSIsImV4cCI6IjIwMjAtMDEtMDhUMTk6MDc6MTUuMTkxWiIsInB1ciI6ImJsb2Jfa2V5In19--a6724ffe1dea0d9cd25e58c4a4ef3a7cecc1fa0e/Blog.jpg?content_type=image%2Fjpeg&disposition=inline%3B+filename%3D%22Blog.jpg%22%3B+filename%2A%3DUTF-8%27%27Blog.jpg')  no-repeat
    center / cover; */
    /* background: blue; */
  color:white;
  opacity: 0.2;
  font-size: 19px;
  text-shadow: 6px 4px #4169E1;
}


.page-main h1 {
  margin-bottom: 20px;
}

.wrapper > * {
  padding: 20px;
}

  /* ANIMATIONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .nav > *,
  .page-main,
  .page-footer > * {
    opacity: 0;
  }
  
  .page-header,
  .page-footer,
  .page-main .text-wrapper {
    overflow: hidden;
  }
  
  .page-header nav > * {
    transform: translateY(-30px);
  }
  
  .page-footer > * {
    transform: translateY(30px);
  }
  
  .page-header {
    position: relative;
  }
  
  .page-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #B0C4DE;
    z-index: 99999;
    transform: scaleX(0);
  }
  
  .page-main .text-wrapper + .text-wrapper {
    margin-top: 10px;
  }
  
  .page-main .text-wrapper * {
    transform: translateY(120%);
  }
  
  .page-main .p-wrapper * {
    transform: translateY(-120%);
  }
  
  .loaded .page-header::after {
    animation: scaleIn 1.3s ease-in 0.2s forwards;
    /* background: #1E90FF; */
  }
  
  .loaded .page-main {
    animation: fadeIn 1s ease-in 0.7s forwards;
  }
  
  .loaded .page-header, nav > * {
     animation: fadeIn 1s ease-in 1.0s forwards, slideIn 1.2s ease-in 1.4s forwards; 
     background: #87CEFA;
     color: white;
     /* background: #1E90FF; */
  }

  .nav2{
    opacity: 1;
  }
  .loaded .page-main .text-wrapper * {
    animation: slideIn 0.6s cubic-bezier(0.54, 0.46, 0.54, 0.94) 2s forwards;
  }
  
  @keyframes  slideFromLeft {
    from {
      position: relative;
      left: -280%;
    }
    to {
      left: 280%;
    }
  }
  @keyframes  slideFromLeft2 {
    from {
      position: relative;
      left: -10%;
    }
    to {
      left: 10%;
    }
  }
  @keyframes  slideFromDown {
    from {
      position: relative;
      bottom: -20%;
    }
    to {
      bottom: 10%;
    }
  }
  
  @keyframes fadeIn {
    50% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes scaleIn {
    100% {
      transform: scaleX(1);
    }
  }
  
  @keyframes slideIn {
    100% {
      transform: translateY(0);
    }
  }
  .nav {
    
    display: grid;
    background-color: white;
    grid-template: auto / 50%  50%;
  }
  .nav h1{
    padding: 2% 3%;
  }